{% extends "index.html" %}


{% block buttons %}
<!-- Make only stop clickable -->
<div class="container">
    <br> <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-block btn-info"><button>Forward</button></a>
            <a class="btn btn-block btn-block"><button>.</button></a>
        </div>
        <div class="col">
            <a class="btn btn-block btn"><button>.</button></a>
            <a class="btn btn-block btn"><button>.</button></a>
        </div>
    </div>
    <br>
    <a href="/" class="btn btn-block btn-danger"><button>Stop</button></a>
</div>    

{% endblock %}
