<!doctype html>
<html>

<head>
    <title>{% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <h1 style="display: flex; justify-content: center;">Stepper Control</h1>
</head>

<body>
    {% block buttons %}

    <div class="container">
        <br> <br>
        <div class="row">
            <div class="col">
                <a href="/F" class="btn btn-block btn-info"><button>Forward</button></a>
                <a href="/L" class="btn btn-block btn-dark"><button>left</button></a></div>
            <div class="col">
                <a href="/B" class="btn btn-block btn-info"><button>backward</button></a>
                <a href="/R" class="btn btn-block btn-dark"><button>right</button></a>
            </div>
        </div>
        <br>
        <a href="/" class="btn btn-block btn-danger"><button>Stop</button></a>
    </div>    

    {% endblock %}
</body>

</html>